<a href="https://colab.research.google.com/github/HwangHanJae/datascience-basic-tect/blob/main/pandas_10minutes_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Tutorial
- 10 minutes to pandas

# 라이브러리 로드

In [1]:
import numpy as np
import pandas as pd

# 객체 생성

value의 리스트를 전달하여 Series 타입을 생성하고 pandas의 기본 인덱스를 적용합니다.

In [4]:
#Input
s = pd.Series([1,3,5, np.nan, 6,8])
#Output
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

datatime 타입과 레이블이있는 column과 Numpy array를 전달하여 Dataframe을 생성합니다.

In [6]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.398303 -0.145200  0.885374  0.145201
2013-01-02  0.572873 -0.246537 -1.270605 -1.275323
2013-01-03 -0.677676  0.560660 -0.168304  0.101642
2013-01-04  0.454837 -0.493103  0.648322  0.173014
2013-01-05  0.780917 -0.947797 -0.679579  0.758216
2013-01-06  1.341692 -0.046994  0.005441 -0.448216

Series 타입처럼 변환할수 있는 객체의 dict 타입을 전달하여 DataFrame을 생성합니다.

In [13]:
df2 = pd.DataFrame(
    {"A" : 1.0,
    "B" : pd.Timestamp("20130102"),
    "C" : pd.Series(1, index=list(range(4)), dtype="float32"),
    "D" : np.array([3] *4, dtype="int32"),
    "E" : pd.Categorical(["test","train","test","train"]),
    "F" : 'foo',}
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Dataframe의 columns 들은 다른 dtypes를 가지고 있습니다.

In [15]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object